<!-- include header -->
    <%-include('include/_header') %>
<!-- /include header -->
<div class="full">
    <div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="/img/logo.png" width="40" height="40" alt="">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar_id"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-center" id="navbar_id">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="/" class="nav-link active">HOME</a></li>
                    <li class="nav-item"><a href="/add-user" class="nav-link">ADD PILOT</a></li>
                    <li class="nav-item"><a href="" class="nav-link">EDIT PILOT</a></li>
                    <li class="nav-item"><a href="/notifications" class="nav-link">NOTIFICATIONS</a></li>
                    
            </ul>
            </collapse>
        </nav><!-- class="navbar" -->
    </div>
    
    
    
    <div class="mt-5 container">
        <form action="/update-user" method="get" accept-charset="utf-8">
            <div class="form-group">
                <label for="ServiceNumber" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size:large">Service Number</label><br>
                <input class="col-md-8" type="text" name="ServiceNumber" class="form-control" id="ServiceNumber"  style="font-size:large" placeholder="Enter Service Number">
            </div><!-- class="form-group" -->
            <br>
            <div class="container form-row">
                    <div class="container form-group col-md-8">
                        <label class="col-md-8" for="AirCraftType" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size:large">Air Craft Type</label>
                        <select class="form-control" id="aircraft_type" name="aircraft_type">
                            <option selected>Choose..</option>
                            <option>Bell-212</option>
                            <option>Bell-412</option>
                            <option>MI-17</option>
                        </select>
                    </div> 
            </div>
            <button type="submit" class="btn btn-success btn-md">Search</button>
        </form><hr>
        <form action="/update-user-card" method="get" accept-charset="utf-8">
            <div class="form-group">
                <label for="card_number" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size:large">Card Number</label><br>
                <input class="col-md-8" type="text" name="card_number" class="form-control" id="card_number"  style="font-size:large" placeholder="Enter Card Number Here">
            </div><!-- class="form-group" -->
            <button type="submit" class="btn btn-success btn-md">Search</button>
        <br><br>

        <a href='/add-user' id="add_new" class="btn btn-primary col-md-4" type="submit">ADD A NEW PROFILE</a>
        <a href='/notifications' class="btn btn-primary col-md-4" id="noti_button">NOTIFICATIONS <span class="badge badge-danger"><%= count %></span></a>
        
    </div>
</div>
    
<!-- include footer -->
    <%-include('include/_footer') %>
<!-- /include footer -->
