<!-- include header -->
<%-include('include/_header') %>
<!-- /include header -->


<div class="alert alert-danger container mt-5" role="alert">
    <h2 class="alert-heading">Done :)</h2>
    <p>Updated successfully!</p>
    <hr>
    <p class="mb-0">Click <a href="/"><i class="far fa-hand-point-right"></i> here</a> to go back.. </p>
</div>

<!-- include footer -->
<%-include('include/_footer') %>
<!-- /include footer -->

